@import url('https://fonts.googleapis.com/css?family=DM+Sans:700,500,400,500,500,400,500,500,500,700,500,500|Poppins');

.body-nbsjo {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

.Section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    flex-wrap: nowrap;
}

.GreyBckg {
    background-color: #fafafa;
}

.Container {
    display: block;
    width: 100%;
    flex-direction: row;
    border-radius: 5px;
    min-height: 100px;
}

.Row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}

.VertCenter {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Spacer {
    margin-top: 24px;
}

.Button {
    display: inline-block;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 18px;
    padding-top: 18px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 3px;
    font-weight: 500;
}

.FullWidth {
	height: 400px;
  width: 500px;
}

.getstartedbuttons{

	text-align: center;
}
.Col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.ContentBlock {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 24px;
}

.BackgroundFilter {
    background-color: rgba(0, 0, 0, 0.11);
}

.Center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.BannerContent {
    max-width: 700px;
}

.CTABlock {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Reversed {
    color: #333;
    background-color: #fff;
    border-color: #ffffff;
}

.CTAImage {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 600px;
    height: 360px;
}

.FooterLink {
    font-size: 16px;
    padding-bottom: 12px;
    display: block;
}

.Copywrites {
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 18px;
}

.NavContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.SectionTitleWrapper {
    max-width: 600px;
}

h3 {
    font-size: 20px;
		text-align: center;
}

h5 {
    font-size: 28px;
}

span {
    font-size: 14px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.span-38kta {
    position: static;
    flex-direction: row;
    display: none;
}

.span-mxz8i {
    height: 12px;
}

@media (max-width: 480px) {
    .ColReverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .CTABlock {
        padding-right: 20px;
        padding-left: 20px;
    }


}

ul {

	width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


@media (max-width: 1024px) {
    .ContentBlock {
        padding-right: 15px;
    }

    .CTAImage {
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    .Row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .Spacer {
        margin-top: 20px;
    }

    .Col {
        margin-bottom: 15px;
        width: 100%;
    }

    .ContentBlock {
        padding-bottom: 0px;
    }

    .CTABlock {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .CTAImage {
        border-radius: 10px;
    }
}




.divv{
    width: 80%;
    margin: 100px auto;

}
table{
 perspective: 200px;
width: 100%;
}

th{
    text-align: left;
    height: 5px;
    font-weight: 800;
    font-size: 20px;

}
th,td{

    padding: 26px;

}


.z1{
    color: cornflowerblue;
    background-color: #05184c;;
}
.z2{
    color: rgba(249, 0, 0, 0.85);
    transition: transform 2s;
    transform-style: preserve-3d;
}

tr:nth-child(even){

    background-color: #d7e3fc;

}
tr:nth-child(odd){

    background-color:#d7e3fc;

}
td{
    color: blue;


}

tr,th{
    cursor: pointer;
}
